---
---

{% include_relative bootstrap.min.css %}

body {
  background-color: #f4e3d7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #63462e;
}

a:hover {
  color: #63462e;
  text-decoration: none;
}

a.text-light:hover {
  color: #f4e3d7;
}

div.card,
ol,
ul,
p {
  max-width: 50rem;
}

.card {
  border: 1px solid #63462e;
}

.card-header {
  border-bottom: 1px solid #63462e;
}

.card-footer {
  background-color: #f4e3d7;
}

.card-svg {
  max-width: none !important;
}

.card-svg .card-body {
  max-height: 75vH;
}

.card-svg img {
  width: 100%;
}

aside > img {
  max-width: 400px;
  height: auto;
}

@media (min-width: 1200px) {
  aside > img {
    float: right;
  }
}

.bg-leder {
  background-color: #63462e;
  background-image: url("{{ site.baseurl }}/assets/images/leder.png");
}

.bg-pergament {
  background-color: #f4e3d7;
}

.bg-brown {
  background-color: #63462e;
}

.bg-dark-brown {
  background-color: #4b2f1a;
}

table {
  caption-side: top;
}

caption {
  white-space: nowrap;
}

caption,
th {
  background-color: #63462e;
  color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid #f4e3d7;
  font-weight: normal;
}

td {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid #f4e3d7;
}

td > ul:last-child,
td > p:last-child {
  margin-bottom: 0;
}

tr.selected td {
  background-color: #63462e !important;
  color: white !important;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

main ul {
  list-style-type: square;
}

.breadcrumb > span {
  margin-top: -0.1rem;
}

.page-link:hover,
.btn-brown,
.btn-brown:hover {
  color: white;
  background-color: #63462e;
  border-color: #63462e;
}

.btn-brown.active {
  background-color: #f4e3d7;
  color: #63462e;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.woff2) format('woff2');
}

.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.bg-doppelseite {
  background-image: url("/assets/images/startseite0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-6 {
  margin-top: 6rem !important;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

input:focus,
button:focus {
  box-shadow: none !important;
}

#dropdownSearch {
  min-width: 20rem;
  margin-right: 2rem !important;
  margin-top: -1.5rem !important;
}

.dice {
  cursor: pointer;
}

.diceresult {
  background-color: #f8f9fa;
  padding: 0.2rem;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
}

#startunessong {
  margin-top: 15rem;
}

.col-thumbnail {
  flex-grow: 0;
  flex-shrink: 1;
}

.border-black {
  border-color: black !important;
}

a#totop {
  display:block;
  width: 19px;
  height: 12px;
  background-image: url(/assets/images/totop.png);
  text-decoration: none;
  opacity: 0.2;
}

a#totop:hover {
  opacity: 0.6;
}

#searchResult > a {
  background-color: #f4e3d7;
}

.tbl-collapsed {
  display: inline-block;
}

.tbl-collapsed table {
  display: none;
}
